.card {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
}

.addCard {

    .cardTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        .title {
            font-size: 22px;
            line-height: 33px;
        }

        svg {
            color: var(--soft-gray);
        }
    }

    .connections {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}