.badge {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: var(--blue);
    border: 3px solid var(--white);
    display:flex;
    align-items: center;
    padding: 5px 3px 4px 3px;
    justify-content: center;

    p{
        color: var(--white);
        font-size: 11px;
    }
}