.message {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: 300ms background;


    &:hover {
        background: var(--extra-light-gray);
    }

    &:last-child {
        margin-bottom: 0;
    }

    img {
        border-radius: 14px ;
        height: 50px;
        width: 50px;
        object-fit: cover;
    }

    .information {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        .header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .name {
                font-size: 13px;
                line-height: 19px;
            }

            .time {
                font-size: 11px;
            }
        }

        .lastMessage {
            font-size: 11px;
            line-height: 16px;
            overflow: hidden;
            width: 100%;
            height: 20%;

        }
    }

}