.messagingCard {
    .cardTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            font-size: 22px;
            line-height: 33px;
            color: var(--black);
        }

        svg {
            color: var(--soft-gray);
        }

        .addMessage {
            font-size: 25px;
        }

        .options {
            height: 4px;
            width: 22px;
        }
    }

    .search {
        margin: 30px 0;
    }

    .messages {
        display: flex;
        flex-direction: column;
    }
}