.layout {
    padding: 30px;
    width: inherit;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;

    .topBar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        width: 100%;
    }

    .area {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
        flex: 1;

        .menu {
            flex: 1;
            width: 100%;

        }

        .content {
            margin: 0 30px;
            flex: 3;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .banner {
            flex: 1;
            width: 100%;
            margin-right: 30px;

        }

        .message {

        }

    }
}

@media screen and (max-width: 1024px) {
    .message {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .banner, .message, .menu {
        display: none;
    }

    .content {
        margin: 0 !important;
    }
}