.card {
    flex-wrap: inherit;
    width: 100% !important;
    padding: 23px 30px;

    .header {
        display: flex;
        flex: 3;
        justify-content: space-around;
        align-items: center;

        .account {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: flex-end;
        }

        .logo {
            display: flex;
            align-items: center;
            flex: 1;
            cursor: pointer;
        }

        .search {
            padding: 0;
            margin:0;
            display: flex;
            flex: 1;
            align-items: center;
        }
    }
}