body {
    background: #E5E5E5;
}

.iconsContainer {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: auto auto auto auto auto auto;

    svg {
        height: 40px;
        width: 40px;
        fill: var(--white);
    }
}

.badge-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.menu-container {
    height: 100%;
    padding-left: 10px
}

.connection-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    width: 250px;
    background: var(--white);
}