.iconsContainer {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: auto auto auto auto auto auto;

    svg {
        height: 40px;
        width: 40px;
        fill: var(--white);
    }
}

.badge-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--soft-gray);
    align-items: center;
    height: 60px;
}