@font-face {
    font-family: Poppins-SemiBold;
    src: url("./fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: Poppins-Bold;
    src: url("./fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: Poppins-Light;
    src: url("./fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: Poppins-Medium;
    src: url("./fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: Poppins-Regular;
    src: url("./fonts/Poppins/Poppins-Regular.ttf");
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

/* typography */

.semi-bold {
    font-family: Poppins-SemiBold;
    font-style: normal;
    font-weight: 600;
}

.bold {
    font-family: Poppins-Bold;
    font-style: normal;
    font-weight: 700;
}

.light {
    font-family: Poppins-Light;
    font-style: normal;
    font-weight: 300;
}

.medium {
    font-family: Poppins-Medium;
    font-style: normal;
    font-weight: 500;
}

.regular {
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: 400;
}

