:root {
    --black: #071B2A;
    --blue: #0A66C2;
    --green: #4AC047;
    --gray: #757575;
    --soft-gray: #A0A0A0;
    --light-gray: #E3E3E3;
    --extra-light-gray: #F5F5F5;
    --white: #FFFFFF;
}