:root {
    --black: #071B2A;
    --blue: #0A66C2;
    --green: #4AC047;
    --gray: #757575;
    --soft-gray: #A0A0A0;
    --light-gray: #E3E3E3;
    --extra-light-gray: #F5F5F5;
    --white: #ffffff;

    --shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    --card-radius: 20px;
    --card-width: 285px;
    --card-padding: 30px;
}